module Config
FOLDERS = [
	# Define your folders here.
	{ :folder => "/tmp", :days => 900 },
	{ :folder => "/var/log/myservice", :days => 30 },
	{ :folder => "/var/log/myotherservice", :days => 60, :glob => "*.txt" },
]
end
